#root {
    height: 100%;
    margin-left:15.3%;
}

@font-face {
    font-family: Lanting;
    src: url(方正兰亭超细黑.TTF);
}

.font_f {
    font-family: Lanting;
}

.table.td{
    font-size:0.8em;
}

.cont {
    padding-bottom: 10px;
    font-size: 1.2em
}

.title {
    font-size: 1.6em;
    font-family: 'Times New Roman', Times, serif;
}

.line{
    height: 0px;
    border: 1px solid rgba(112,112,112,0.5);
    opacity: 0.51;
    margin-bottom: 24px;
}

.goodBox{
    margin-left: 8.3%;
    margin-top: 4.8%;
    width: 48.1%;
}

.modal-body-down-right{
    float: right;
}

.modal-body-down-left>.font-modal{
    margin-bottom: 12px;
}

.modal-body-down-right>.font-modal{
    margin-bottom: 12px;
}

th {
    font-family: "微软雅黑";
    font-size:0.8em;
    border-bottom: none !important;
}

.logo {
    height: 21%;
    position: relative;
    top: -24.5%;
    left: 68%;
}