html,body{
    height: 100%;
    font-family: Lanting;
}

.element::-webkit-scrollbar {display:none}

@font-face {
    font-family: Lanting;
    src: url(方正兰亭超细黑.TTF);
}

.bg-brown {
    background-color: #856B53 !important;
}

.welcome {
    font-family: 微软雅黑;
    margin-left: 5.2%;
    margin-top: 3.4%;
    font-size: 1.2em;
    color:#856B53 !important;
}

a{
    cursor: pointer;
    text-decoration: none;
    color:white !important;
}

a:hover{
    color:white !important;
}

td > a{
    color:black !important;
}

td > a:hover{
    color:black !important;
    cursor: default;
}

td > a.btn{
    color:white !important;
}

img{
    display: block;
    height:100%;
    width:auto;
}

.inline{
    display: inline-block;
}

.broder-brown{
    border:1px solid rgba(133,107,83,0.5);
}

/* nav */

.inline-nav{
    display: inline-block;
    vertical-align: middle
}

.float-right {
    position: relative;
    float: right;
    height: 40%;
    width: 29%;
    top: 25%;
}

.Nav{
    background-color:#856B53;
    height:8.4%;
    position: fixed;
    width: 100%;
}

.line{
    width: 0px;
    height: 23px;
    border: 1px solid rgba(255,255,255,0.9);
    opacity: 1;
    margin-right:6.8%;
    margin-left: 6.8%;
}

.inline.box-left.font-nav {
    margin-right: 6.8%;
}

.font-nav {
    color: white;
    font-size: 0.8em;
    font-family: "微软雅黑"
}

.inline.box-right.font-nav {
    margin-right: 6.8%;
}

.nav-logo {
    float: left;
    position: relative;
    height: 54.94%;
    left: 1.5%;
    top: 22.53%;
}


/*  */