html,body{
    height: 100%;
}

a{
    cursor: pointer;
}

.inline-nav{
    display: inline-block;
    vertical-align: middle
}

.float-right {
    position: relative;
    float: right;
    height: 40%;
    width: 29%;
    top: 25%;
}

.Nav{
    background-color:#856B53;
    height:8.4%;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 1;
}

.line{
    width: 0px;
    height: 23px;
    border: 1px solid rgba(255,255,255,0.9);
    opacity: 1;
    margin-right:6.8%;
    margin-left: 6.8%;
}

.inline-nav.box-left.font-nav {
    margin-right: 6.8%;
}

.font-nav {
    color: white;
    font-size: 0.8em;
    font-family: "微软雅黑"
}

.inline-nav.box-right.font-nav {
    margin-right: 6.8%;
}

.nav-logo {
    float: left;
    position: relative;
    height: 54.94%;
    left: 1.5%;
    top: 22.53%;
}

.hide{
    display: none;
}

img{
    display: block;
    height:100%;
    width:auto;
}