html,
body {
    height: 100%;
    overflow: hidden;
}

@font-face {
    font-family: Lanting;
    src: url(方正兰亭超细黑.TTF);
}

.font_f {
    border-radius: 4px 4px 0px 0px;
    font-size: 0.9em;
    padding: 2px;
    margin-right: 1.9%;
    width: 7.5%;
    text-align: center;
}

.font_f>a{
    color:black !important;
}

.font_f>a:hover{
    color:black !important;
}

.font_focus{
    color:white;
    border-radius: 4px 4px 0px 0px;
    font-size: 0.9em;
    padding: 2px;
    margin-right: 1.9%;
    width: 7.5%;
    text-align: center;
}

a.list-group-item{
    color:black !important;
}

a.list-group-item:hover{
    background-color: #856B53;
    border-color: #856B53;
    border-radius: 0px;

}

.list-group-item:first-child {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.title {
    font-size: 1.6em;
    font-family: 'Times New Roman', Times, serif;
}

#content {
    margin-left: 15.3%;
    height:100%;
}

.up,
.down {
    padding-bottom: 2.1%
}

.modal-over {
    height: 100%;
    width: 100%;
    opacity: .5;
}

.left {
    height: 560px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.right {
    height: 560px;
}

.buttons-right {
    padding-top: 7px;
}

.hide { 
    display: none;
}

.show{
    display: block;
}

.fuck{
    margin-left: 15px;
}

.top {
    width: 50.86%;
    margin-left: 7.6%;
    margin-top: 2.7%;
    height: auto;
}

/* ckeditor */
/* .ck.ck-toolbar{
    background-color:#856B53 !important;
    border-color:#856B53 !important;
}

.ck.ck-reset_all, .ck.ck-reset_all *{
    color: white !important;
    background-color: #856B53 !important;
    border: none !important;
} */

.bottom{
    width:81.3%;
    margin-left:7.62%;
    height: 1%;
    margin-bottom: 20px;
}

.logo {
    position: relative;
    height: 29%;
    top: -44.4%;
    left: 62%;
}

.bottom-top{
    margin-left:7.62%;
    margin-top:2.5%;
}

@media screen and (max-width:576px) {
    html,
    body {
        overflow: auto;
    }
    .right {
        height: 560px;
        padding-top: 8px;
    }
    .left {
        border-bottom: .5px solid rgb(136, 136, 136);
    }
}