#root {
    height: 100%;
    margin-left:15.3%;
}

.table {
    border: .5px solid #dddddd;
}

th {
    font-family: Lanting;
    font-size:0.8em;
    border-bottom: none !important;
}

.table.td{
    font-size:0.8em;
}

@font-face {
    font-family: Lanting;
    src: url(方正兰亭超细黑.TTF);
}

.font_f {
    font-family: Lanting;
}

.cont {
    padding-bottom: 10px;
    font-size: 1.2em
}

.title {
    font-size: 1.6em;
    font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width:576px) {
    #root {
        padding-top: 2%;
        padding-left: 4.19%;
        padding-right: 4.19%;
    }
}

.hide{
    display: none;
}

.font-modal.col-2.c{
    padding: 0 !important;
    padding-left: 14px !important;
}

.line{
    height: 0px;
    border: 1px solid rgba(112,112,112,0.5);
    opacity: 0.51;
    margin-bottom: 24px;
}

.warehouseBox{
    margin-left: 8.3%;
    margin-top: 4.8%;
    width: 48.1%;
}

.modal-body-down-right{
    float: right;
}

.modal-body-down-left>.font-modal{
    margin-bottom: 12px;
}

.modal-body-down-right>.font-modal{
    margin-bottom: 12px;
}