#root {
    padding-top: 2%;
    padding-left: 12%;
    padding-right: 12%;
}

.table {
    border: .5px solid #dddddd;
}

@font-face {
    font-family: Lanting;
    src: url(方正兰亭超细黑.TTF);
}

.font_f {
    font-family: Lanting;
}

.cont {
    padding-bottom: 10px;
    font-size: 1.2em
}

.title {
    font-size: 1.6em;
    font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width:576px) {
    #root {
        padding-top: 2%;
        padding-left: 4.19%;
        padding-right: 4.19%;
    }
}

.hide{
    display: none;
}